/* AppComponent's private CSS styles */
h1 {
    margin-bottom: 0;
    text-align: center;
  }
  nav a {
    background-color: #20507e;
    border-radius: 2px;
    padding: 1rem;
    font-size: 1.2rem;
    text-decoration: none;
    display: inline-block;
    color: #fff;
    text-align: center;
    width: 32%;
    min-width: 70px;
    margin: .5rem auto;
    box-sizing: border-box;
  
    /* flexbox */
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
  
    
  }
  nav a1 {
    background-color: #7f0e0e;
    border-radius: 2px;
    padding: 1rem;
    font-size: 1.2rem;
    text-decoration: none;
    display: inline-block;
    color: #fff;
    text-align: center;
    width: 32%;
    min-width: 70px;
    margin: .5rem auto;
    box-sizing: border-box;
  
    /* flexbox */
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
  
    
  }
  nav a:hover {
    color: white;
    background-color: #42545C;
  }
  nav a.active {
    background-color: black;
  }