<h2>My Movie List</h2>
<div>
    <label for="new-movie">影片名： </label>
    <input id="new-movie" #movieTitle />
  
    <!-- (click) passes input value to add() and then clears the input -->
    <button type="button" class="add-button" (click)="add(movieTitle.value); movieTitle.value=''">
      Add movie
    </button>
  </div>
  
  <ul class="movies">
    <li *ngFor="let movie of movies">
      <a routerLink="/detail/{{movie.id}}">
        <span class="badge">{{movie.id}}</span> {{movie.title}}
      </a>
      <button type="button" class="delete" title="delete movie"
        (click)="delete(movie)">x</button>
    </li>
  </ul>